/* Blocks */
body.admin {
  .container {
    background-color: #d9cb9e; }
  #header {
    background: #d9cb9e url("images/header.jpg") repeat-x;
    height: 100px; }
  /* General */
  h1 {
    font-size: 2em; }
  /* Classes */
  .padding {
    padding: 2em 15px 0px 40px; } 
    
  /* Flash */  
  #errorExplanation       {border: solid 2px red;
    p, li                 {color: red;}
  }
  #notice                 {border: solid 2px green; color: green;}
  
  .icon                   {margin-left: 10px;}
}