<% content_for :nav do %>
  <li><%= link_to "Website", root_url %></li>
  <li><%= link_to "Pages", controller: "pages" %></li>
  <li><%= link_to "Menus", controller: "links" %></li>
<% end -%>

<h1>Welcome Bodie</h1>
