<% if @page.errors.any? -%>
  $("#notice").hide(300);
  $("#alert").html("<%= escape_javascript(render "shared/error_messages", :target => @page)%>");
  $("#alert").show(300);
<% else -%>
  $(':input').not(':button, :submit, :reset, :hidden').val('');
  $("#alert").hide(300);
  $("#notice").html("<%= escape_javascript(flash[:notice])%>");
  $("#notice").show(300).delay(600).hide(300);
  $('#pages').html("<%= escape_javascript(render partial: 'page', collection: @pages) %></li>").effect('bounce');
<% end -%>
