<% if @link.errors.any? -%>
  $("#notice").hide(300);
  $("#alert").html("<%= escape_javascript(render "shared/error_messages", :target => @link)%>");
  $("#alert").show(300);
<% else -%>
  $(':input').not(':button, :submit, :reset, :hidden').val('');
  $("#alert").hide(300);
  $("#notice").html("<%= escape_javascript(flash[:notice])%>");
  $("#notice").show(300).delay(600).hide(300);
  $('#links').html("<%= escape_javascript(render partial: 'link', collection: @links) %></li>").effect('bounce');
<% end -%>
