#slider 
  #slideshowHolder
    = image_tag 'fi1.jpg', :alt => 'The Tasmanian Wilderness'
    <a href="#"></a>
    = image_tag 'fi2.jpg', :alt => 'A close-up of the dove-tail method'
    <a href="#"></a>


