%h1 About Us
%p Dove Tail Timber cabins are all about the European lifestyle: think wine and warm company, a blazing fire and the sensual smell of varnished wood. Buy a cabin from Dove Tail Timbers, and you will be living the dream.

